{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

      <!--   <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Date range</a></li>
                <li id="nav-job" class="selected"><a href="job">Other filters?</a></li>
                <li id="nav-benefit"><a href="benefit">Nav 1</a></li>
                <li id="nav-admin"><a href="#">Nav 1</a></li>
                <li id="nav-stats"><a href="#">Nav 1</a></li>
              </ul>
          </div> -->

  <!-- Start three quarters container for main content columns -->
  <div class="column" style="margin-left:-50px">

    <div class="grid-row">

        <div class="column-half">   

             <h3 class="heading-small">View income</h3>
     <!--       <p>Retrieve record by:</p> -->

               <div class="form-group">
                  <label class="form-label" for="inital">NINO</label>
                  <input class="form-control" id="inital" type="text"> &nbsp;
                  <a href="job_nino" class="button button-get-started" value="Submit">Search</a>
                </div> 

           </div>

     <!--End NINO row-->
       </div>    

     <div class="grid-row">

       <div class="column-two-thirds"> 

          <h1 class="heading-large" style="padding:0; margin:0">Lucy Turner - NINO AA000001B</p>

              <div class="form-group">
                <label class="form-label" for="title">Employer/pension:</label>
             <!--         <span class="form-hint">Enter claimant postcode, eg LS11 3PH</span>
                  <input class="form-control" id="inital" type="text">
                  <a href="service_confirm" class="button button-get-started postcode-finder" value="Submit">Find address</a> -->
                <select class="select form-control">
                      <option value="Select">Select</option>
                      <option value="Sun Alliance">Sun Alliance (08/04/15 - present)</option>
                      <option value="HSBC">HSBC (01/10/14 - 07/01/15)</option>
                      <option value="Halifax">Halifax (08/04/15 - 30/09/14)</option>
                      <option value="Asda">Asda (02/07/13 - 29/09/14)</option>        
                  </select> 
            </div>

       </div>

    <!--End Name and NINO data row-->
     </div>

    <div class="grid-row"> 

     <div class="column">   

        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="view_record" href="job_record_confirm" class="menu-item action selected">
                      <strong>All records</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="edit_record" href="job_edit" class="menu-item action">
                      <strong>3 months</strong>
                    </a>
                  </div>
                </div>

        <!--        <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="interview" href="job_interview" class="menu-item">
                      <strong>Interview</strong>
                    </a>
                  </div>
                </div> -->

               <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="appointments" href="job_next" class="menu-item action">
                      <strong>1 month</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="closure" href="job_closure" class="menu-item">
                      <strong>1 week</strong>
                    </a>
                  </div>
                </div>       

             </div> 

           </div>

      </div>

      <br>

     <div class="grid-row">

       <div class="column">

            <ul class="tabs" id="tbl-payments">
                <li class="selected"><a href="small#tbl-payments">Slim table</a></li>
                <li><a href="med#tbl-payments">Medium table</a></li>
                <li><a href="big#tbl-payments">Big table</a></li>
  <!--              <li><a href="benefit_edit">Edit record</a></li>
                <li><a href="maintenance">Maintenance</a></li>
                <li><a href="payment">Payment</a></li>
                <li><a href="closure">Closure</a></li>      -->  
             </ul> 

          <h3 class="heading-medium">Sun Alliance: 21/12/14 - 06/04/15</h3>

             <table style="width:60%" summary="Table for EmployerName1 Pension,  Start date not stated  to End date not stated">
                 <thead>
                 <tr>
                     <th scope="col" id="th-date">Date paid</th>
                     <th scope="col" id="th-tax-year" class="textCenter">Tax year</th>
                     <th scope="col" id="th-frequency" class="textCenter">Frequency</th>
                     <th scope="col" id="th-week-period" class="textCenter">Period</th>
                     <th scope="col" id="th-gross" class="numeric">Gross</th>
                     <th scope="col" id="th-net" class="numeric">Net</th>
                     <th scope="col" id="th-deductions-from-gross-pay" class="numeric">Deductions from gross pay</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
              <td>01/05/15</td>
              <td class="textCenter">15-16</td>
              <td class="textCenter">Monthly</td>
              
              <td class="textCenter">1</td>
              <td class="numeric">69.67</td>
              <td class="numeric" scope="col">55.87</td>
              <td class="numeric">
                <a id="deductions-breakdown" href="#" data-date="01/05/15" data-deduction="13.80" data-tax="13.80" data-nic="0.00" data-pensioncontribution="0.00" class="deductions">
                  <span>13.80</span>
                </a>
              </td>
                 </tr>
                 <tr>
              <td>27/02/15</td>
              <td class="textCenter">14-15</td>
              <td class="textCenter">Monthly</td>
              
              <td class="textCenter">11</td>
              <td class="numeric">69.67</td>
              <td class="numeric" scope="col">55.67</td>
              <td class="numeric">
                <a id="deductions-breakdown" href="#" data-date="27/02/15" data-deduction="14.00" data-tax="14.00" data-nic="0.00" data-pensioncontribution="0.00" class="deductions">
                  <span>14.00</span>
                </a>
              </td>
                 </tr>
                 <tr>
              <td>31/12/14</td>
              <td class="textCenter">14-15</td>
              <td class="textCenter">Monthly</td>
              
              <td class="textCenter">9</td>
              <td class="numeric">69.67</td>
              <td class="numeric" scope="col">55.67</td>
              <td class="numeric">
                <a id="deductions-breakdown" href="#" data-date="31/12/14" data-deduction="14.00" data-tax="14.00" data-nic="0.00" data-pensioncontribution="0.00" class="deductions">
                  <span>14.00</span>
                </a>
              </td>
                 </tr>
                 <tr>
              <td>31/10/14</td>
              <td class="textCenter">14-15</td>
              <td class="textCenter">Monthly</td>
              
              <td class="textCenter">7</td>
              <td class="numeric">69.67</td>
              <td class="numeric" scope="col">55.87</td>
              <td class="numeric">
                <a id="deductions-breakdown" href="#" data-date="31/10/14" data-deduction="13.80" data-tax="13.80" data-nic="0.00" data-pensioncontribution="0.00" class="deductions">
                  <span>13.80</span>
                </a>
              </td>
                 </tr>
                 
                 
                 </tbody>
             </table>

     <br>
     <br>

      </div>
      <!-- End col -->

    <!-- End tabs and table data row-->       
      </div>

<!-- End 3/4 content column -->
   </div>

<!-- End row -->
 </div>     


</main>
{{/content}}

{{/layout}}

