{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$content}}
<main id="content" role="main">

<!--    <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div> -->

<!-- <style>
    .exciting {
        border: 5px solid #df3034;
        color: #df3034;
        padding: 1em;
        font-size: 2em;
        display: inline-block;
        animation: yay 4s infinite;
        -webkit-animation: yay 4s infinite;
        transition: ease-in 
    }
    
    .exciting h2 {
        font-weight: 800;
    }
    
    .exciting li {
        font-size: 0.75em;
        display: inline-block;
        margin-right: 1em;
    }
    
    @keyframes yay {
        0%  { border-color: #df3034; color: #df3034; }
        33% { border-color: #d53880; color: #d53880; }
        66% { border-color: #f47738; color: #f47738; }
    }
    
    @-webkit-keyframes yay {
        0%  { border-color: #df3034; color: #df3034; }
        33% { border-color: #d53880; color: #d53880; }
        66% { border-color: #f47738; color: #f47738; }
    }
</style> -->


	<h1 class="heading-large" style="margin-top:20px;">RTI - Beta prototype</h1>

      <div class="grid-row">

        <div class="column-third">
           <h2 class="heading-medium"><em class="highlight">Iterations</em></h2>
            <ul class="bullets">
                <li>
                    <h3 class="heading-small">Record view</h3>
                    <ul>
                        <li><a href="sprint_1/start">View record</a></li>         
                        <li><a href="sprint_1/start_no_nino">Set interest</a></li>                    
                    </ul>
                 <!--   <h3 class="heading-small">Benefit Centre</h3>
                    <ul>
                        <li><a href="sprint_3/benefit">Basic search</a></li>
                        <li><a href="sprint_3/benefit_advanced">Advanced search</a></li>
                        <li><a href="sprint_3/benefit_edit">Edit record</a></li>
                        <li><a href="sprint_3/benefit_new">New record</a></li>
                        <li><a href="sprint_3/closure">Closure</a></li>
                        <li><a href="sprint_3/payment">Payment</a></li>
                        <li><a href="sprint_3/maintenance">Maintenance</a></li>
                    </ul> -->
                </li>
            </ul>
            <br>
        </div>


    

    <!-- End row -->
    </div>  
       
</main>

{{/content}}

{{/layout}}
